yarl<1.2
bs4
discord.py[voice]==1.5.1
pytz==2018.5
parsedatetime==2.4
wolframalpha==5.0.0
configparser==5.2.0
aiohttp==3.7.4

# needed for DB interactions
Django==3.2.20
asgiref==3.4.1

# needed temporarily for importing data from mee6
requests==2.31.0
