# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
CI/*		@modernNeo @wnfldchen
docs/*		@CSSS/wall_e
documentation/*	@CSSS/wall_e
wall_e/*	@CSSS/wall_e
.gitignore	@CSSS/wall_e
CODEOWNERS	@CSSS/wall_e
LICENSE		@CSSS/wall_e
README.md	 @CSSS/wall_e
wall_e_pic.jpg	 @CSSS/wall_e

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com
