# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
CI/*		@modernNeo @wnfldchen
docs/*		@modernNeo @wnfldchen @dmiiller @TitanVJ
documentation/*	@modernNeo @wnfldchen @dmiiller @TitanVJ
wall_e/*	@modernNeo @wnfldchen @dmiiller @TitanVJ
.gitignore	@modernNeo @wnfldchen @dmiiller @TitanVJ
CODEOWNERS	@modernNeo @wnfldchen @dmiiller @TitanVJ
LICENSE		@modernNeo @wnfldchen @dmiiller @TitanVJ
README.md	@modernNeo @wnfldchen @dmiiller @TitanVJ
wall_e_pic.jpg	@modernNeo @wnfldchen @dmiiller @TitanVJ

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com
