pytz==2018.5
wolframalpha==5.0.0
configparser==5.2.0

# needed for DB interactions
Django==3.2.20
asgiref==3.4.1

# needed temporarily for importing data from mee6
requests==2.31.0

wall-e-models==0.4